@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
<!--
 <h2>ASP.NET Core 导入导出Excel xlsx 文件</h2>
 <a asp-action="Export">导出Excel</a>
 <hr />-->
 <form enctype="multipart/form-data" method="post" asp-action="Import">
  <input type="file" name="excelfile" />
  <input type="submit" value="上传" />
 </form>
 <form enctype="multipart/form-data" method="post" asp-action="Compute">
  <label>请选择开始日期</label>
  <input type="text" lay-verify="required" id="startdate" name="startdate">
  <label>请选择结束日期</label>
  <input type="text" lay-verify="required" id="enddate" name="enddate">
  <input type="submit" value="计算" />
 </form>

</div>

<script src="~/lib/laydate/laydate.js"></script>
<script>
 //日期范围
 laydate.render({
   elem: '#startdate'
 });
 laydate.render({
   elem: '#enddate'
 });
</script>
